<table>
    <tr>
        <th>Title</th>
    </tr>
    <% for ( var i = 0; i < allTodos.length; i++ ) { %>
    <tr>
        Row <%= i %>
        <td>
            <%= allTodos[i].title %>
        </td>
    </tr>
    <% }
    %>
</table>
